<div ng-include="'/views/templates/nav.html'"></div>
<div class="table-container">
<h3>{{userName}}'s Skills</h3>
<section id="skillSubmission">
      <h4>Submit a skill</h4>
      <form id="skillForm">
        <label for="skill">Skill:</label>
        <input type="text" id="currentSkill" name="skill" ng-model="currentSkill.skill" />

        <label for="years">Years:</label>
        <input type="number" id="currentYears" name="years" ng-model="currentSkill.years" />

        <button ng-click="submitNewSkill(user_id)">Add Skill</button>
</section>
    <button class="table-container" ng-click="order = '+years'">Sort v</button>
    <button class="table-container" ng-click="order = '-years'">Sort ^</button>
</div>
<section>
    <table class="span5 center-table">
      <thead>
        <tr>
          <th ng-click="order = 'skill'">Skill</th>
          <th>Years</th>
        </tr>
      </thead>
      <tr ng-repeat="skill in skillz | orderBy: order">
        <td>{{skill.skill}}</td>
        <td>{{skill.years}}</td>
      </tr>
    </table>
</section>
