<div ng-include="'/views/templates/nav.html'"></div>
<h3>{{userName}}'s Skills</h3>

<section id="skillSubmission">
      <h4>Submit a skill</h4>
      <form id="skillForm">
        <label for="skill">Skill:</label>
        <input type="text" id="currentSkill" name="skill" ng-model="currentSkill.skill" />

        <label for="years">Years:</label>
        <input type="number" id="currentYears" name="years" ng-model="currentSkill.years" />

        <button ng-click="submitNewSkill()">Add Skill</button>
</section>
