<div ng-include="'/views/templates/nav.html'"></div>
<h3>{{userName}}'s Skills</h3>

<section id="skillSubmission">
      <h4>Submit a skill</h4>
      <form id="skillForm">
        <label for="skill">Skill:</label>
        <input type="text" id="currentSkill" name="skill" ng-model="currentSkill.skill" />

        <label for="years">Years:</label>
        <input type="number" id="currentYears" name="years" ng-model="currentSkill.years" />

        <button ng-click="submitNewSkill(user_id)">Add Skill</button>
</section>

<section>
   <div ng-repeat="skill in skillz">
     <h4>{{skill.skill}} {{skill.years}}</h4>
   </div>

</section>
